*{margin:0px;
	padding:0px;
	font-family: verdana;}
div#titulo{
	width:100%;
	margin-top:100px;
}

p#header{text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

p#subheader{text-align: center;
	color:#cecece;
	margin-top:20px;
	font-size: 1.3em;
}
header{
	margin:100px auto;
	width:1200px;
	height:230px;
	background-color:red;
}
div.contenedor{
	width: 200px;
	height: 230px;
	float: left;
	-webkit-transition:height .4s;
}
div#uno{background-color: rgba(96, 174, 219, 0.87);}
div#dos{background-color:rgba(26, 233, 199, 0.829);}
div#tres{background-color:rgb(22,145,190);}
div#cuatro{background-color:rgb(22,107,162);}
div#cinco{background-color:rgb(35, 10, 128);}
div#seis{background-color:rgb(73, 97, 18);}
img.icon{
	display:block;
	margin:50px auto;
	background:rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius:50%;
	-webkit-box-shadow:0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}
p.texto{
	font-size:1.2em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition:padding-top .4s;
}
div.contenedor:hover{
	height: 250px;
}
div.contenedor:hover p.texto{
	padding-top:30px;
	opacity: 1;
}
div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255, .6);
}
























